

<div class="container centered" style="width:100%">
	<div class="row">
		<div class="col-md-offset-3 col-md-3">
    		<img src="img/logo.svg" class="logo">
		</div>
	<div class="col-md-3">
    	<form name="form" ng-submit="vm.login()" role="form">
    		<h3 class="h3">Ingresa, por favor</h3>
    		<div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
    			<label for="email">Email:</label>
    			<input type="email" class="form-control" name="username" id="username" ng-model="vm.username" required>
    			<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Ingrese correo</span>
    		</div>
    		<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
    			<label for="email">Contraseña:</label>
    			<input type="password" class="form-control" name="password" id="password" ng-model="vm.password" required >
    			<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Ingrese contraseña</span>
    			<div class="col-md-12 col-sm-12 col-xs-12 text-right" style="padding:0">
    				<a href="#">¿Olvidaste la contraseña?</a>
    			</div>
    		</div>
        	<br>
        	<div class="form-group text-center">
        		<button type="submit" class="btn btn-default" ng-disabled="form.$invalid || vm.dataLoading">Ingresar</button>
            	<p class="google-signin"><a href="#" ng-click="vm.googleLogin()" id="signinButton">O ingresa con Google</a></p>
			</div>
		</form>
	</div>
</div>

</div>
</div>
